html {
    font-size: 100%;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-shadow: rgba($black, 0.01) 0 0 1px;
    font-size: 14px;
    font-family: $default-font;
    line-height: 1.6;
    font-weight: 400;
    color: $black;

    @include media-up(l) {
        font-size: 20px;
    }


}

h1,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
	font-size: 28px;
    line-height: 2;
    font-weight: 500;

    @include media-up(s) {
        font-size: 32px;
    }

    @include media-up(m) {
        font-size: 36px;
    }


}

h2 {
	font-size: 20px;
    font-weight: 800;
    line-height: 2;

    @include media-up(s) {
        font-size: 24px;
    }

    @include media-up(m) {
        font-size: 30px;
    }


}

h3 {
    font-size: 18px;
    line-height: 2;
    font-weight: 800;

    @include media-up(s) {
        font-size: 20px;
    }

    @include media-up(m) {
        font-size: 26px;
    }


}

h4 {
	font-size: 16px;
    font-weight: 800;
    line-height: 2;

    @include media-up(s) {
        font-size: 18px;
    }

    @include media-up(m) {
        font-size: 24px;
    }


}

h5 {
    color:#2F53FF
}

h5,
h6 {
    font-size: 18px;
    font-weight: 800;
    line-height: 2;

    @include media-up(s) {
       font-size: 16px;
    }

    @include media-up(m) {
        font-size: 22px;
    }


}

h6 {
    font-weight: 400;
}

p {
    margin: 0;
    line-height: 1.6;

 
}

hr {
    border: 1px solid darken($white, 30);
}

blockquote{
    font-style:italic;
    color: #555555;
    padding:15px 5px 15px 15px;
    border-left:4px solid #2F53FF ;
    position: relative;
    background:#f7f7f7;

    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-top: 30px;
  }
  
 
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }


.brand-header {
    font-size: 37px;
    line-height: 1;
    font-weight: 800;

    span,
    a {
        &::before {
            display: inline-block;
            content: '';
            width: 19px; height: 28px;
            background: url(../../src/img/line-svg.svg) 0 0 / 100% auto no-repeat;
            margin: 0 5px 0 0;
        }
    }

    &.grey {

        span,
        a {

            &::before {
                background-image: url(../../src/img/line-svg-grey.svg);
            }
        }
    }

    @include media-up(m) {
        font-size: 46px;

        span,
        a {

            &::before {
                width: 23px; height: 33px;
            }
        }
    }

    @include media-up(xl) {
        font-size: 80px;
        line-height: 85px;

        span,
        a {

            &::before {
                width: 40px; height: 56px;
            }
        }
    }

    @include media-laptop {
        font-size: 46px;
        line-height: 1;

        span,
        a {

            &::before {
                width: 23px; height: 33px;
            }
        }
    }
}