{% import 'macro/focal_point_image' as focalMacro %}

{% set artTitle   = service.title %}
{% set artUrl     = service.url %}
{% set artImage   = service.articleImage.one() %}
{% set placehold  = siteUrl('assets/build/src/img/article-placeholder.jpg') %}
{% set artExcerpt = service.articleExcerpt | nl2br %}

<div class="card js-card -customer">
    <a href="{{ artUrl }}">
        <div class="content">
            <div class="img" style="{{ artImage ? focalMacro.pointImage(artImage) : 'background-image: url(' ~ placehold ~ ')' }}"></div>
            <div class="content-part">
                <div class="card-title">
                    <h3>{{ artTitle }}</h3>
                </div>
                <div class="card-excerpt">
                    {{ artExcerpt | raw }}
                </div>
                <div class="les-mer">
                    Les mer
                </div>
            </div>
        </div>
    </a>
</div>