{% set bodyClass = 'home' %}
{% extends "_layouts/base" %}

{% block main %}

    <div class="page-wrapper">
        {% include '_components/_headers/home-header' %}
        {% include '_components/_content/content' %}
    </div>

{% endblock %}
