{% set bodyClass = 'driftsmeldinger' %}
{% extends "_layouts/base" %}

{% block main %}

    <div class="page-wrapper">
        {% include '_components/_headers/normal-page-header.twig' %}
        {% include '_components/_content/content' %}
    </div>

{% endblock %}
